/* Цвета */

$main-green: #598D66;
$light-green: #E1EDE6;
$main-black: #2C2D35;
$main-white: #F4F6F5;
$main-gray: #86928B;
$middle-green: #D4E8D9;
$button-green: #376B44;

/* Шрифты */

$font: 'Raleway', sans-serif;
$text: 18px;
$big-text: 20px;
$large-text: 40px;