@use 'variables' as *;
@use 'mixins' as *;

@font-face {
    font-family: "Raleway";
    src: url(../assets/Raleway-Medium.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


body {

    @include fs-and-colors($text, $main-green, $main-white);
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    // font-size: $text;
    // color: $main-green;
    width: 100%;
    // background-color: $main-white;
}
