@use 'variables' as *;

@font-face {
    font-family: "Raleway";
    src: url(../assets/Raleway-Medium.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.body {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: $text;
    color: $main-green;
}


.header {
    background-color: $light-green;
}